.CompanyItem {
  position: fixed;
  top: 62px;
  bottom: 0;
  width: 30%;
  overflow-y: scroll;
  padding: 0;
}

.listItem {
  padding: 10px 5px;
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .CompanyItem {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .CompanyItem {
    top: 157px;
  }
}

@media only screen and (max-width: 500px) {
  .CompanyItem {
    position: relative;
    top: 0;
    width: 100%;
    overflow-y: auto;
  }
}
